In [177]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import yfinance as yf
import datetime as dt
from datetime import date
from dateutil.relativedelta import relativedelta 
from yahoo_fin.stock_info import *
from yahoofinancials import YahooFinancials

### When calculating the dividend, assume you put a contribution in first, then later in the year you earn a one time dividend payment

In [207]:
def calculate_dividends_input(symbol, contribution):
    current_price = 28.64
    div_yield = 0.0584      #as a decimal less than 1
    div_growth_rate = 0.02    #as a decimal less than 1     (it is approximately the 5 year cagr)
    share_price_cagr = 0.02     #as a decimal less than 1    (it is the 6 year share cagr)
    principal = 3000
    
    
    for i in range(20):
        if i == 0:
            num_shares = (principal + contribution) / current_price 
            
            #set up an initial dividend amount the company will pay:
            div_amt = div_yield * current_price
            print(f"Dividend Amount is: {div_amt}")
            
            #Then you collect a dividend
            your_dividend = num_shares * div_amt
            num_shares = num_shares + (your_dividend / current_price)
            total_value = num_shares * current_price
            print(f"Your total value for year 0 is: ${total_value}")
            print(f"Current price for year {i} is: {current_price}")
        else:
            current_price = current_price * (1 + share_price_cagr)
            div_amt_for_yr = div_amt * pow((1 + div_growth_rate), i)
            gained_shares = contribution / current_price
            # Then you collect a dividend 
            your_dividend = (num_shares + gained_shares) * div_amt_for_yr
            num_shares = (num_shares + gained_shares) + (your_dividend / current_price)
            total_value = num_shares * current_price
            print(f"Your total value for year {i} is: ${total_value}")
            print(f"Current price for year {i} is: {current_price}")
            print(f"Current number of shares for year {i} is: {num_shares}") 

    
    print(f"Your total contribution was: ${20 * contribution}")
    print(f"Your total value for {symbol} is: ${total_value}")
    print(f"Your dividend is: {your_dividend}")

In [208]:
calculate_dividends_input("My Portfolio", 3000)

Dividend Amount is: 1.672576
Your total value for year 0 is: $6350.4
Current price for year 0 is: 28.64
Your total value for year 1 is: $10030.8886272
Current price for year 1 is: 29.2128
Current number of shares for year 1 is: 343.37306342425234
Your total value for year 2 is: $14004.22637348905
Current price for year 2 is: 29.797056
Current number of shares for year 2 is: 469.9869132537472
Your total value for year 3 is: $18293.714657574823
Current price for year 3 is: 30.39299712
Current number of shares for year 3 is: 601.9055832284705
Your total value for year 4 is: $22924.508945448735
Current price for year 4 is: 31.0008570624
Current number of shares for year 4 is: 739.4798440348018
Your total value for year 5 is: $27923.766273220204
Current price for year 5 is: 31.620874203648
Current number of shares for year 5 is: 883.0801480497565
Your total value for year 6 is: $33320.80450804779
Current price for year 6 is: 32.25329168772096
Current number of shares for year 6 is: 1033.097794503041
Your total value for year 7 is: $39147.27428114414
Current price for year 7 is: 32.89835752147538
Current number of shares for year 7 is: 1189.9461623757234
Your total value for year 8 is: $45437.344601146215
Current price for year 8 is: 33.55632467190489
Current number of shares for year 8 is: 1354.0620149973915
Your total value for year 9 is: $52227.90323637021
Current price for year 9 is: 34.227451165342984
Current number of shares for year 9 is: 1525.9068805349314
Your total value for year 10 is: $59558.77304108172
Current price for year 10 is: 34.91200018864984
Current number of shares for year 10 is: 1705.9685128108108
Your total value for year 11 is: $67472.9454944145
Current price for year 11 is: 35.610240192422836
Current number of shares for year 11 is: 1894.7624371478244
Your total value for year 12 is: $76016.83282151408
Current price for year 12 is: 36.322444996271294
Current number of shares for year 12 is: 2092.833586211436
Your total value for year 13 is: $85240.5401754563
Current price for year 13 is: 37.048893896196724
Current number of shares for year 13 is: 2300.7580311110646
Your total value for year 14 is: $95198.15947613702
Current price for year 14 is: 37.789871774120655
Current number of shares for year 14 is: 2519.1448133288145
Your total value for year 15 is: $105948.08662933427
Current price for year 15 is: 38.54566920960307
Current number of shares for year 15 is: 2748.63788336924
Your total value for year 16 is: $117553.36398625714
Current price for year 16 is: 39.31658259379513
Current number of shares for year 16 is: 2989.9181523678303
Your total value for year 17 is: $130082.05005191568
Current price for year 17 is: 40.10291424567104
Current number of shares for year 17 is: 3243.7056632600597
Your total value for year 18 is: $143607.6186104465
Current price for year 18 is: 40.90497253058446
Current number of shares for year 18 is: 3510.7618884983176
Your total value for year 19 is: $158209.38960804252
Current price for year 19 is: 41.72307198119615
Current number of shares for year 19 is: 3791.8921617119827
Your total contribution was: $60000
Your total value for My Portfolio is: $158209.38960804252
Your dividend is: 8729.61862538708

## Use YFinance to gather data about a particular stock

In [81]:
today = date.today()

start_date = str( today - relativedelta(years = 6) )
start_date

'2017-12-28'

In [82]:
end_date = str(today)
end_date

'2023-12-28'

In [127]:
ticker = "AAPL"
df = yf.download(ticker, start_date, end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-12-28,42.750000,42.962502,42.619999,42.770000,40.443920,65920800
2017-12-29,42.630001,42.647499,42.305000,42.307499,40.006557,103999600
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.722881,102223600
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.715782,118071600
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.904915,89738400
...,...,...,...,...,...,...
2023-12-20,196.899994,197.679993,194.830002,194.830002,194.830002,52242800
2023-12-21,196.100006,197.080002,193.500000,194.679993,194.679993,46482500
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48053800

In [129]:
stock_price = df["Close"][-1]
stock_price

193.14999389648438

In [132]:
stock_cagr = pow((df["Close"][-1] / df["Close"][0]), 1/6) - 1
stock_cagr

0.2856593343640379

In [110]:
# today = date.today()

# start_date = today - relativedelta(years = 6)
# start_year = start_date.year
# start_year

2017

In [124]:
tick_series = yf.Ticker("AAPL").dividends.loc[start_date:end_date]
tick_series

C:\Users\Irochka\AppData\Local\Temp\ipykernel_18532\2216258578.py:1: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  tick_series = yf.Ticker("AAPL").dividends.loc[start_date:end_date]

Date
2018-02-09 00:00:00-05:00    0.1575
2018-05-11 00:00:00-04:00    0.1825
2018-08-10 00:00:00-04:00    0.1825
2018-11-08 00:00:00-05:00    0.1825
2019-02-08 00:00:00-05:00    0.1825
2019-05-10 00:00:00-04:00    0.1925
2019-08-09 00:00:00-04:00    0.1925
2019-11-07 00:00:00-05:00    0.1925
2020-02-07 00:00:00-05:00    0.1925
2020-05-08 00:00:00-04:00    0.2050
2020-08-07 00:00:00-04:00    0.2050
2020-11-06 00:00:00-05:00    0.2050
2021-02-05 00:00:00-05:00    0.2050
2021-05-07 00:00:00-04:00    0.2200
2021-08-06 00:00:00-04:00    0.2200
2021-11-05 00:00:00-04:00    0.2200
2022-02-04 00:00:00-05:00    0.2200
2022-05-06 00:00:00-04:00    0.2300
2022-08-05 00:00:00-04:00    0.2300
2022-11-04 00:00:00-04:00    0.2300
2023-02-10 00:00:00-05:00    0.2300
2023-05-12 00:00:00-04:00    0.2400
2023-08-11 00:00:00-04:00    0.2400
2023-11-10 00:00:00-05:00    0.2400
Name: Dividends, dtype: float64

In [126]:
div_growth = pow((tick_series[-1] / tick_series[0]), 0.2) - 1
div_growth

0.087892885777757

## Dividend Stock Calculator Using yfinance

In [203]:
def calculate_dividends(symbol, contribution):
    today = date.today()
    start_date = str( today - relativedelta(years = 10) )
    end_date = str(today)
    
    
    ticker = symbol
    df = yf.download(ticker, start_date, end_date)

    current_price = df["Close"][-1]
    print(f"Current Price is: {current_price}")
    #div_yield = 0.0267      #as a decimal less than 1
    
    tick_series = yf.Ticker(symbol).dividends.loc[start_date:end_date]
    div_growth_rate = pow((tick_series[-1] / tick_series[0]), 1/10) - 1 
    print(f"Current Div_Growth_Rate is: {div_growth_rate}")
    #div_growth is given as a decimal less than 1  (it is approximately the 5 year cagr)
    
    share_price_cagr = pow((df["Close"][-1] / df["Close"][0]), 1/10) - 1
    print(f"Current Share_Price_Growth_Rate is: {share_price_cagr}")
    #share_price cagr is given as a decimal less than 1 (it is approximately the 6 year share cagr)
    
    principal = 50000
    
    
    for i in range(20):
        if i == 0:
            num_shares = (principal + contribution) / current_price 
            
            #set up an initial dividend amount the company will pay:
            div_amt = tick_series[-1] * 4   #since this retrieves the quarerly dividend so multiply by 4
            print(f"Current Dividend Amount is: {div_amt}")
            
            
            #Then you collect a dividend
            your_dividend = num_shares * div_amt
            num_shares = num_shares + (your_dividend / current_price)
            total_value = num_shares * current_price
            print(f"Your total value for year 0 is: ${total_value}")
            print(f"Current price for year {i} is: {current_price}")
        else:
            current_price = current_price * (1 + share_price_cagr)
            div_amt_for_yr = div_amt * pow((1 + div_growth_rate), i)
            gained_shares = contribution / current_price
            # Then you collect a dividend 
            your_dividend = (num_shares + gained_shares) * div_amt_for_yr
            num_shares = (num_shares + gained_shares) + (your_dividend / current_price)
            total_value = num_shares * current_price
            print(f"Your total value for year {i} is: ${total_value}")
            print(f"Current price for year {i} is: {current_price}")
            print(f"Current number of shares for year {i} is: {num_shares}") 

    
    print(f"Your total contribution was: ${20 * contribution}")
    print(f"Your total value for {symbol} is: ${total_value}")
    print(f"Your dividend is: {your_dividend}")

In [204]:
calculate_dividends("KR", 30000)

[*********************100%***********************]  1 of 1 completed
Current Price is: 45.209999084472656
Current Div_Growth_Rate is: 0.13395130443021586
Current Share_Price_Growth_Rate is: 0.08593074363722408
Current Dividend Amount is: 1.16
Your total value for year 0 is: $82052.64326209358
Current price for year 0 is: 45.209999084472656
Your total value for year 1 is: $122294.58668997526
Current price for year 1 is: 49.09492792563961
Current number of shares for year 1 is: 2490.9821005380772
Your total value for year 2 is: $167358.27600394835
Current price for year 2 is: 53.31369159110574
Current number of shares for year 2 is: 3139.1237599436568
Your total value for year 3 is: $217925.38717866465
Current price for year 3 is: 57.89497675557507
Current number of shares for year 3 is: 3764.150180053043
Your total value for year 4 is: $274786.4972447339
Current price for year 4 is: 62.86993516104144
Current number of shares for year 4 is: 4370.713864120709
Your total value for year 5 is: $338860.4337554484
Current price for year 5 is: 68.27239544185379
Current number of shares for year 5 is: 4963.3593718569455
Your total value for year 6 is: $411217.4166470459
Current price for year 6 is: 74.1390931520669
Current number of shares for year 6 is: 5546.566584023312
Your total value for year 7 is: $493106.8064667766
Current price for year 7 is: 80.50992055921344
Current number of shares for year 7 is: 6124.795590924802
Your total value for year 8 is: $585990.4629637604
Current price for year 8 is: 87.42819790304048
Current number of shares for year 8 is: 6702.533930913626
Your total value for year 9 is: $691582.956018981
Current price for year 9 is: 94.94096796371115
Current number of shares for year 9 is: 7284.34700901008
Your total value for year 10 is: $811900.169853578
Current price for year 10 is: 103.09931594247071
Current number of shares for year 10 is: 7874.932655291498
Your total value for year 11 is: $949318.2182053976
Current price for year 11 is: 111.95871682989633
Current number of shares for year 11 is: 8479.180943523472
Your total value for year 12 is: $1106645.0644689891
Current price for year 12 is: 121.57941262375871
Current number of shares for year 12 is: 9102.24058980798
Your total value for year 13 is: $1287207.8449416996
Current price for year 13 is: 132.02682196149522
Current number of shares for year 13 is: 9749.593497881102
Your total value for year 14 is: $1494959.6622014942
Current price for year 14 is: 143.3719849527059
Current number of shares for year 14 is: 10427.139323589865
Your total value for year 15 is: $1734610.5975514748
Current price for year 15 is: 155.69204623643682
Current number of shares for year 15 is: 11141.292310573548
Your total value for year 16 is: $2011788.949845345
Current price for year 16 is: 169.0707795479349
Current number of shares for year 16 is: 11899.093120789468
Your total value for year 17 is: $2333240.3265238698
Current price for year 17 is: 183.59915736181412
Current number of shares for year 17 is: 12708.33897089088
Your total value for year 18 is: $2707074.302107836
Current price for year 18 is: 199.37596948508252
Current number of shares for year 18 is: 13577.736118847472
Your total value for year 19 is: $3143071.066924081
Current price for year 19 is: 216.50849480632817
Current number of shares for year 19 is: 14517.079663482167
Your total contribution was: $600000
Your total value for KR is: $3143071.066924081
Your dividend is: 173375.85695489924

In [212]:
# today = date.today()

# start_date = str( today - relativedelta(years = 10) )
# start_date

In [211]:
# end_date = str(today)
# end_date

In [210]:
# tick_series = yf.Ticker("KR").dividends.loc[start_date:end_date]
# tick_series

In [209]:
# ticker = yf.Ticker("KR")
# dir(ticker)

In [213]:
# ticker.dividends[-1] * 4

In [214]:
# calculate_dividends("INTC", 30000)